.first-screen {
    height: 1080px;
    position: relative;

    .rectangle-with-bg {
        width: 481px;
        height: 811px;
        position: absolute;
        right: 0;
        top: 0;
        background-image: linear-gradient(to top, #b4d3d3, #d9e7e7);
    }

    .main-content {
        width: 1800px;
        height: 810px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.slider-meta {
    width: 480px;
    height: 100%;
    position: relative;
}

.person-info {
    color: $primary-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    z-index: 1;
}

.person-name {
    font-size: 101px;
    letter-spacing: 2px;
    margin: 0;
}

.person-job {
    margin-top: 34px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3.4px;
}

.slider-controls {
    position: absolute;
    left: 0;
    bottom: 88px;
    width: 100%;
}

.slider-pages {
    position: absolute;
    left: 62px;
    bottom: 0;
    font-size: 12px;
    letter-spacing: 2.4px;
    color: $primary-color;
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.slider-page {
    opacity: 0.7;
    margin-top: 41px;
    cursor: pointer;
    position: relative;

    &.active,
    &:hover {
        opacity: 1;
    }

    &.active:before {
        content: '';
        position: absolute;
        width: 28px;
        height: 2;
        background-color: $primary-color;
        display: inline-block;
        left: -62px;
        top: 50%;
        margin-top: -1px;
    }
}

.slider-arrows {
    position: absolute;
    left: 50%;
    bottom: 0;

}

.slide-content {
    flex-grow: 1;
    height: 100%;
    background-color: #e2e8e8;
    position: relative;
}

.slide-button {
    width: 106px;
    height: 106px;
    background-color: #ffffff;
    position: absolute;
    top: 70px;
    right: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: #777;

    i {
        position: relative;
        left: 3px;
    }
}

.slide-title {
    width: 480px;
    height: 90px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 90px;
    text-align: center;
    color: #87bbbc;
    font-size: 14px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.second-screen {
    position: relative;
    display: flex;
    height: 1068;
    width: 1920;
    padding: 120px;

    .rectangle-profile {
        display: flex;
        width: 649px;
        height: 948px;
        background-color: #e2e8e8;
        left: 0;
        justify-content: center;
    }

    .more {
        display: flex;
        flex-direction: column;
        width: 1030px;
        margin-left: 192px;
    }
}

.slider-circles {
    display: flex;
    align-self: flex-end;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.slider-circle {
    width: 6px;
    height: 6px;
    opacity: 0.5;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    margin-right: 20px;

    &.active {
        width: 12px;
        height: 12px;
        opacity: 1;
        border-radius: 6px;
        background-color: #fff;
        bottom: 3px;
    }
}

.info-tasks {
    display: flex;
    width: 437px;
    justify-content: space-between;
    text-align: center;
    margin-left: -22px;
}

.link-info {
    @extend .nunito-extrabold;
    font-size: 12px;
    letter-spacing: 2.4px;
    color: #696970;
    padding-bottom: 16px;
    width: 120px;
    text-decoration: unset;

    &:hover {
        color: $primary-color;
        text-decoration: none;
        border-bottom: 2px solid;
    }
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.info-header {
    @extend .poppins-regular;
    color: $primary-color;
    font-size: 60px;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    width: 188px;
    height: 47px;
    margin-top: 130px;
}

.info-annotation {
    @extend .poppins-regular;
    color: $primary-color;
    margin-top: 38px;
    width: 407px;
    height: 56px;
    font-size: 24px;
    line-height: 1.5;
}

.achievs {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
}

.award-info {
    @extend .nunito-semibold;
    color: $primary-color;
    margin-left: 20px;
    font-size: 16px;
    height: 13px;
}

.main-info {
    @extend .nunito-regular;
    color: #767679;
    font-size: 16px;
    line-height: 1.88;
    width: 477px;
    height: 345px;
    margin-top: 61px;
}

.social-networks-icons {
    display: flex;
    flex-direction: column;
    width: 16px;
    height: 16px;
    height: 148px;
    justify-content: space-between;
    align-self: center;
    position: absolute;
    right: 0;
    margin-right: 112px;
}

.for-row {
    display: flex;
    flex-direction: row;
}

.third-screen {
    height: 1080px;
    display: flex;
    width: 1920px;
}

.press-block {
    width: 1100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.press-header {
    @extend .poppins-regular;
    color: $primary-color;
    font-size: 59px;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    width: 466px;
    height: 125px;

}

.full-row {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.reading-block {
    display: flex;
    flex-direction: column;
}

.picture-to-article {
    width: 200px;
    height: 139px;
    background-color: #e2e8e8;
}

.article-info {
    @extend .poppins-medium;
    display: flex;
    flex-direction: column;
    margin-left: 42px;
    width: 325px;
    height: 92px;
    font-size: 24px;
}

@mixin lhCrop($line-height) {
    &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - #{$line-height}) * 0.3em);
    }
}

.article-name {
    color: $primary-color;
    word-spacing: normal;
    @include lhCrop(1.5);
}

.video-preview {
    width: 200px;
    height: 139px;
    background-color: #b4d3d3;
    font-size: 34px;
    position: relative;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}


.full-row-video {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.video-name {
    color: #87bbbc;
    width: 289px;
    height: 91px;
    font-size: 24px;
    @include lhCrop(1.5);
}

.article-date {
    @extend .nunito-regular;
    width: 104px;
    height: 14px;
    font-size: 15px;
    color: #77777e;
    margin-top: 36px;
    line-height: 2.5;
}

.explore-container {
    display: flex;
    flex-direction: row;
    margin-top: 63px;
}

.explore-more {
    @extend .nunito-extrabold;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 2.8px;
    idth: 138px;
    height: 11px;
}

.explore-arrow {
    bottom: 0;
    margin-left: 22px;
}